<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='updateorder.css') }}">
</head>
<body>
    <div class="container">
        <header><h2>Update Your Cake Order</h2></header>

        <p>Order ID: {{ order.id }}</p>
        <form class="orderid" action="{{ url_for('update_order') }}" method="POST">
            <input type="hidden" name="order_id" value="{{ order.id }}">
            
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname" value="{{ order.fname }}" required><br><br>

            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname" value="{{ order.lname }}" required><br><br>

            <label for="cake_size">Cake Size:</label>
            <select id="cake_size" name="cake_size" required>
                <option value="Small" {% if order.cake_size == 'Small' %}selected{% endif %}>Small</option>
                <option value="Medium" {% if order.cake_size == 'Medium' %}selected{% endif %}>Medium</option>
                <option value="Large" {% if order.cake_size == 'Large' %}selected{% endif %}>Large</option>
            </select><br><br>

            <label for="flavor">Flavor:</label>
            <select id="flavor" name="flavor" required>
                <option value="vanilla" {% if order.flavor == 'vanilla' %}selected{% endif %}>Vanilla</option>
                <option value="chocolate" {% if order.flavor == 'chocolate' %}selected{% endif %}>Chocolate</option>
                <option value="Red Velvet" {% if order.flavor == 'red Velvet' %}selected{% endif %}>Red Velvet</option>
                <option value="banana" {% if order.flavor == 'banana' %}selected{% endif %}>Banana</option>
                <option value="strawberry" {% if order.flavor == 'strawberry' %}selected{% endif %}>Strawberry</option>
                <option value="cherry" {% if order.flavor == 'cherry' %}selected{% endif %}>Cherry</option>
            </select><br><br>

            <button type="submit">Update Order</button>
        </form>
    </div>
    <nav>
        <a href="{{ url_for('index') }}">HOME</a>
    </nav>
    
    <main>
        <label for="pickup_date">Pickup Date:</label>
        <input type="date" id="pickup_date" name="pickup_date" value="{{ order.pickup_date }}">
    
        <label for="delivery_date">Delivery Date:</label>
        <input type="date" id="delivery_date" name="delivery_date" value="{{ order.delivery_date }}">
    
    </main>
</body>
</html>
