<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>View Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vieworder.css') }}" />
</head>
<body>
    <div class="container">

        <header>
        
            <a href="{{ url_for('index') }}">HOME</a>
        </header>

        <nav class="ordersummary">
            <p class="top">Order Summary</p>
            <p><strong>First Name:</strong> {{ order.fname }}</p>
            <p><strong>Last Name:</strong> {{ order.lname }}</p>
            <p><strong>Address:</strong> {{ order.address }}</p>
            <p><strong>City:</strong> {{ order.city }}</p>
            <p><strong>State:</strong> {{ order.state }}</p>
            <p><strong>Zip Code:</strong> {{ order.zipcode }}</p>
            <p><strong>Cake Size:</strong> {{ order.cake_size }}</p>
            <p><strong>Cake Type:</strong> {{ order.cake_type }}</p>
            <p><strong>Flavor:</strong> {{ order.flavor }}</p>
            <p><strong>Design:</strong> {{ order.design }}</p>
            <p><strong>Pickup Date:</strong> {{ order.pickup_date }}</p>
            <p><strong>Delivery Date:</strong> {{ order.delivery_date }}</p>
          
            <p><strong>Order ID:</strong> {{ order.id }}</p>
        </nav>

        <main>
          
            <p>
                <a href="{{ url_for('update_order', order_id=order.id) }}" style="float: right;">
                    Update This Order
                </a>
            </p>
        </main>

        <footer></footer>

    </div>
</body>
</html>
